$dark: #100A30;
$light: #624DE3;
$light_opacity: #614de375;
$grey: #4C4764;
$white: #fff;
$price1: #F7F7F8;
$price2: #F3FCF9;
$priceName2: #19C787;
$price3: #FFFBF5;
$priceName3: #FCB935;
$reviews1: #E8E5FB;
$reviews2: #E8FAF3;
$reviews3: #FDEBEE;
$reviews4: #E6F3FF;
$reviews5: #FFF5E1;
$footerBg: #F8F8F9;