@import 'variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $dark;
    @media (max-width: 768px) {
        font-size: 14px;
    }
    @media (max-width: 412px) {
        font-size: 12px;;
    }
    &.scroll {
        padding-top: 90px;
        @media (max-width: 768px) {
            padding-top: 61px;
        }
        @media (max-width: 412px) {
            padding-top: 41px;
        }
    }
    &.active {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding: 0 10px;
    transition: 1s;
    &.scroll {
        overflow: hidden;
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 10;
        width: 100%;
        background-color: rgba($white, .9);
        animation: showHeader .5s ease-out forwards;
        box-shadow: 0 0px 10px rgba($dark, .5);
    }
}

@keyframes showHeader {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1232px;
    margin: 0 auto;
    padding: 33px 0;
    &__logo {
        cursor: pointer;
    }
    @media (max-width: 768px) {
        padding: 18px 0;
    }
    @media (max-width: 412px) {
        padding: 8px 0;
    }
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    &__item {
        margin-left: 44px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-left: 28px;
        }
    }
    &__link {
        transition: color .4s;
    }
    &__btn {
        font-size: 14px;
        color: $white;
        background-color: $light;
        padding: 15px 26px;
        border-radius: 6px;
        transition: background-color .4s;
    }
    &.hover &__link:hover {
        color: $light;
    }
    &.hover &__btn:hover {
        background-color: $dark;
    }
    @media (max-width: 768px) {
        position: fixed;
        flex-direction: column;
        top: 61px;
        right: -100vw;
        width: 50%;
        height: 100%;
        background-color: rgba($light, .9);
        padding: 50px 0 100px 0;
        z-index: 2;
        transition: right .6s ease-in-out;
        overflow: auto;
        @media (max-width: 412px) {
            top: 41px;
        }
        &__item {
            margin: 0;
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            color: $white;
            &:last-child {
                margin-left: 0;
            }
            @media (max-width: 650px) {
                font-size: 16px;
            }
        }
        &__link {
            display: block;
            padding: 20px 0;
        }
        &__btn {
            font-size: 20px;
            display: block;
            background-color: initial;
            border-radius: 0;
            transition: 0;
            padding: 20px 0;
            @media (max-width: 650px) {
                font-size: 16px;
            }
        }
        &.active {
            right: 0;
            transition: right .6s ease-in-out;
        }
    }
}

.mobile-menu {
    display: none;
    @media (max-width: 768px) {
        display: block;
        position: relative;
        width: 30px;
        height: 25px;
        @media (max-width: 412px) {
            width: 25px;
            height: 20px;
        }
        & span {
            display: block;
            width: 100%;
            height: 4px;
            background-color: $dark;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: opacity  0s .3s;
            @media (max-width: 412px) {
                height: 3px;
            }
        }
        &::before, &::after {
            content: '';
            width: 100%;
            height: 4px;
            background-color: $dark;
            border-radius: 5px;
            position: absolute;
            left: 0;
            @media (max-width: 412px) {
                height: 3px;
            }
        }
        &::before {
            top: 0;
            transition: top .3s .3s, transform .3s;
        }
        &::after {
            bottom: 0;
            transition: bottom .3s .3s, transform .3s;
        }
        &.close {
            span {
                opacity: 0;
                transition: opacity .3s;
            }
            &::before {
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                transition: top .3s, transform .3s .3s;
            }
            &::after {
                bottom: 50%;
                transform: translateY(50%) rotate(-45deg);
                transition: bottom .3s, transform .3s .3s;
            }
        }
    }
}

.banner {
    background-color: $dark;
    color: $white;
    text-align: center;
    padding: 64px 0 757px 0;
    position: relative;
    @media (max-width: 1206px) {
        padding-bottom: 62%;
    }
    @media (max-width: 1000px) {
        padding-bottom: 59%;
    }
    @media (max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 45%;
    }
    @media (max-width: 600px) {
        padding: 30px 10px;
    }
    &__title {
        font-size: 55px;
        font-weight: 400;
        max-width: 580px;
        margin: 0 auto 32px auto;
        @media (max-width: 768px) {
            font-size: 48px;
        }
        @media (max-width: 600px) {
            font-size: 39px;
        }
        @media (max-width: 412px) {
            font-size: 30px;;
        }
    }
    &__text {
        opacity: .7;
        margin-bottom: 54px;
        @media (max-width: 768px) {
            margin-bottom: 34px;
        }
    }
    &__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -171px;
        max-width: 100%;
        pointer-events: none;
        @media (max-width: 1206px) {
            bottom: -16%;
        }
        @media (max-width: 1000px) {
            bottom: -14%;
        }
        @media (max-width: 768px) {
            max-width: 80%;
        }
        @media (max-width: 600px) {
            display: none;
        }
    }
}

.container {
    max-width: 1232px;
    margin: 0 auto;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__btn {
        padding: 17px 37px;
        border: 1px solid $white;
        border-radius: 8px;
        margin: 0 8px;
        transition: background-color .4s, color .4s, border-color .4s;
        &--1 {
            font-size: 15px;
            background-color: $light;
            border: none;
            border-radius: 6px;
            padding: 19px 39px;
        }
        @media (max-width: 768px) {
            padding: 12px 27px;
            &--1 {
                font-size: 14px;
                padding: 14px 29px;
            }
        }
        @media (max-width: 412px) {
            padding: 8px 27px;
            &--1 {
                font-size: 12px;
                padding: 10px 22px;
            }
        }
    }
    &.hover &__btn--1:hover {
        background-color: $light_opacity;
    }
    &.hover &__btn--2:hover {
        color: $light;
        border-color: $light;
    }
}

.tarifs {
    padding: 216px 10px 110px 10px;
    @media (max-width: 1206px) {
        padding-top: 140px;
        padding-bottom: 50px;
    }
    @media (max-width: 1000px) {
        padding-top: 10%;
        padding-bottom: 40px;
    }
    @media (max-width: 768px) {
        padding-top: 6%;
        padding-bottom: 30px;
    }
    @media (max-width: 500px) {
        padding-bottom: 20px;
    }
    &__title {
        text-align: center;
        max-width: 591px;
        margin: 0 auto 59px auto;
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }
}

.title {
    font-size: 48px;
    font-weight: 700;
    @media (max-width: 1000px) {
        font-size: 40px;
    }
    @media (max-width: 768px) {
        font-size: 32px;
    }
    @media (max-width: 412px) {
        font-size: 26px;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -10px;
    }
    @media (max-width: 650px) {
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 350px;
        margin: 0 auto;
    }
    &__item {
        width: calc(1/3*100% - (1 - 1/3)*24px);
        display: flex;
        @media (max-width: 1000px) {
            width: calc(1/3*100% - (1 - 1/3)*12px);
        }
        @media(max-width: 768px) {
            flex-direction: column;
            flex: 0 1 50%;
            margin-bottom: 20px;
            padding: 0 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (max-width: 650px) {
            width: 100%;
        }
        &--01 {
            .cards__header {
                background: url(../img/tarif_bg_1.png) 0 0/cover no-repeat;
                @media (max-width: 900px) {
                    background-position: center;
                }
            }
            .cards__footer {
                background-color: $price1;
            }
            .cards__list__item{
                &::before {
                    content: url(../img/check_1.svg);
                }
            }
        }
        &--02 {
            .cards__header {
                background: url(../img/tarif_bg_2.png) 0 0/cover no-repeat;
                @media (max-width: 900px) {
                    background-position: center;
                }
            }
            .cards__title {
                color: $priceName2;
            }
            .cards__footer {
                background-color: $price2;
            }
            .cards__list__item{
                &::before {
                    content: url(../img/check_2.svg);
                }
            }
        }
        &--03 {
            .cards__header {
                background: url(../img/tarif_bg_3.png) 0 0/cover no-repeat;
                @media (max-width: 900px) {
                    background-position: center;
                }
            }
            .cards__title {
                color: $priceName3;
            }
            .cards__footer {
                background-color: $price3;
            }
            .cards__list__item{
                &::before {
                    content: url(../img/check_3.svg);
                }
            }
        }
        &.card_hover .cards__header, &.card_hover .cards__footer {
            box-shadow: 0 0 20px rgba(#000, .5);
        }
    }
    &__header {
        padding-top: 119px;
        border-radius: 8px 8px 0 0;
        flex: 1 1 auto;
        display: flex;
        transition: box-shadow .4s;
        @media (max-width: 650px) {
            overflow: hidden;
        }
    }
    &__info {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 33px 37px 35px 30px;
        background-color: $dark;
        color: $white;
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 48px;
            background: url('../img/tarif_item5.svg')0 0 no-repeat;
            position: absolute;
            top: -45px;
            left: 0;
            @media (max-width: 650px) {
                background-size: cover;
                left: -20%;
                width: 122%;
            }
        }
        @media (max-width: 1000px) {
            padding: 33px 5px 20px 5px;
        }
        @media (max-width: 768px) {
            padding: 0 5px 5px 5px;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 400;
        position: relative;
        padding-top: 34px;
        &::before {
            content: url(../img/logo_mini.svg);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__price {
        font-size: 48px;
        span {
            font-size: 15px;
        }
        @media (max-width: 1000px) {
            font-size: 45px;
        }
        @media (max-width: 900px) {
            font-size: 38px;
        }
        @media (max-width: 768px) {
            font-size: 32px;
        }
    }
    &__footer {
        border-radius: 0 0 8px 8px;
        transition: box-shadow .4s;
        flex: 1 1 auto;
        &--mobile {
            display: none;
        }
        @media (max-width: 768px) {
            &--mobile {
                display: block;
            }
        }
    };
    &__list {
        list-style: none;
        padding: 29px 24px 27px 24px;
        @media (max-width: 768px) {
            padding: 20px 5px;
        }
        @media (max-width: 500px) {
            padding: 10px 5px;
        }
        &__item {
            font-size: 14px;
            font-weight: 700;
            position: relative;
            padding-left: 32px;
            margin-bottom: 22px;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                position: absolute;
                top: -4px;
                left: 3px;
            }
            @media (max-width: 500px) {
                margin-bottom: 10px;
            }
            @media (max-width: 412px) {
                font-size: 12px;
            }
        }
    }
    &__bottom {
        @media (max-width: 768px) {
            display: none;
        }
    }

}

.reviews {
    padding: 97px 10px 85px 10px;
    @media (max-width: 1000px) {
        padding: 40px 10px;
    }
    @media (max-width: 768px) {
        padding: 30px 10px;
    }
    @media (max-width: 500px) {
        padding: 20px 10px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
    &__block {
        width: calc(1/2*100% - (1 - 1/2)*40px);
        @media (max-width:1000px) {
            width: calc(1/2*100% - (1 - 1/2)*20px);
        }
        @media (max-width: 500px) {
            width: 100%;
        }
        & .reviews__item:last-child {
            padding-bottom: 38px;
        }
        &__title {
            padding: 28px 0 40px 0;
            margin-bottom: 43px;
            @media (max-width:768px) {
                padding-bottom: 0;
                margin-bottom: 37px;
            }
            @media (max-width:1000px) {
                padding: 0;
            }
        }
    }
    &__item {
        margin-bottom: 37px;
        padding: 42px 40px 28px 41px;
        border-radius: 8px;
        @media (max-width:1000px) {
            margin-bottom: 20px;
        }
        @media (max-width: 768px) {
            padding: 14px 10px;
        }
        @media (max-width:1000px) {
            margin-bottom: 10px;
        }
        &--01 {
            background-color: $reviews1;
            .reviews__text {
                font-size: 17px;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
                @media (max-width: 412px) {
                    font-size: 12px;
                }
            }
        }
        &--02 {
            background-color: $reviews2;
            .reviews__text {
                font-size: 18px;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
                @media (max-width: 412px) {
                    font-size: 12px;
                }
            }
        }
        &--03{
            background-color: $reviews3;
            border-radius: 0 0 8px 8px;
        }
        &--04 {
            background-color: $reviews4;
        }
        &--05 {
            background-color: $reviews5;
            .reviews__text {
                font-size: 18px;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
                @media (max-width: 412px) {
                    font-size: 12px;
                }
            }
        }
        &__header {
            display: flex;
            align-items: flex-start;
            margin-bottom: 36px;
            @media (max-width: 768px) {
                margin-bottom: 15px;
            }
        }
    }
    &__avatar {
        border-radius: 50%;
        flex: 0 0 48px;
        margin-right: 16px;
    }
    &__user {
        flex: 1 1 100%;
    }
    &__name {
        font-weight: 700;
        margin-bottom: 5px;
    }
    &__nick {
        font-size: 15px;
        color: $grey;
    }
    &__social {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        &.twitter {
            background: url('../img/twitter.svg') 0 0/cover no-repeat;
        }
        &.message {
            background: url('../img/message.svg') 0 0/cover no-repeat;
        }
    }
    &__text {
        font-size: 17px;
        color: $grey;
        line-height: 30px;
        @media (max-width:1000px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 25px;
        }
        @media (max-width: 412px) {
            font-size: 12px;
        }
    }
    &__post {
        font-weight: 700;
        margin-top: 34px;
        @media (max-width: 768px) {
            margin-top: 15px;
        }
    }
}

.footer {
    background-color: $footerBg;
    padding: 55px 10px 57px 10px;
    @media (max-width:1000px) {
        padding-bottom: 25px;
    }
    @media (max-width:768px) {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width:450px) {
            flex-wrap: wrap;
        }
    }
    &__item {
        width: calc(1/4*100% - (1 - 1/4)*130px);
        color: $grey;
        @media (max-width:1000px) {
            width: calc(1/4*100% - (1 - 1/4)*65px);
        }
        @media (max-width:600px) {
            width: calc(1/4*100% - (1 - 1/4)*25px);
        }
        @media (max-width:450px) {
            width: calc(1/2*100% - (1 - 1/2)*25px);
            margin-bottom: 10px;
            &:nth-of-type(1) {
                order:2;
            }
            &:nth-of-type(2) {
                order:1;
            }
            &:nth-of-type(3) {
                order:3;
            }
            &:nth-of-type(4) {
                order:4;
            }
        }
    }
    &__logo {
        margin-bottom: 24px;
        @media (max-width:450px) {
            margin-bottom: 13px;
        }
    }
    &__text {
        margin-bottom: 24px;
        line-height: 30px;
        @media (max-width:768px) {
            line-height: 20px;
        }
        @media (max-width:768px) {
            font-size: 12px;
        }
        @media (max-width:450px) {
            margin-bottom: 12px;
        }
    }
    &__social {
        &__link {
            display: inline-block;
            margin-right: 20px;
            transition: filter .4s;
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
            &:last-child {
                margin-right: 0;
            }
            @media (max-width:650px) {
                margin-right: 5px;
            }
        }
        &.hover &__link:hover {
            filter: opacity(.5);
        }
    }
    &__list {
        list-style: none;
        font-size: 15px;
        padding-left: 4px;
        @media (max-width:768px) {
            font-size: 14px;
        }
        @media (max-width:600px) {
            font-size: 12px;
        }
        &__item {
            margin-bottom: 13px;
            &:first-child {
                padding-top: 4px;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 18px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            @media (max-width:768px) {
                &:first-child {
                    font-size: 14px;
                }
            }
            @media (max-width:600px) {
                &:first-child {
                    font-size: 12px;
                }
            }
            @media (max-width:450px) {
                margin-bottom: 8px;
            }
        }
        &.hover &__link:hover {
            text-decoration: underline;        }
    }
}
