@import 'variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $dark;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding: 0 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1232px;
    margin: 0 auto;
    padding: 33px 0;
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    &__item {
        margin-left: 44px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-left: 28px;
        }
    }
    &__link {
        transition: color .4s;
    }
    &__btn {
        font-size: 14px;
        color: $white;
        background-color: $light;
        padding: 15px 26px;
        border-radius: 6px;
        transition: background-color .4s;
    }
    &.hover &__link:hover {
        color: $light;
    }
    &.hover &__btn:hover {
        background-color: $dark;
    }
}

.banner {
    background-color: $dark;
    color: $white;
    text-align: center;
    padding: 64px 0 757px 0;
    position: relative;
    &.container {

    }
    @media (max-width: 1206px) {
        padding-bottom: 62%;
    }
    @media (max-width: 1000px) {
        padding-bottom: 57%;
    }
    &__title {
        font-size: 55px;
        font-weight: 400;
        max-width: 580px;
        margin: 0 auto 32px auto;
    }
    &__text {
        opacity: .7;
        margin-bottom: 54px;
    }
    &__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -171px;
        max-width: 100%;
        @media (max-width: 1206px) {
            bottom: -16%;
        }
        @media (max-width: 1000px) {
            bottom: -14%;
        }
    }
}

.container {
    max-width: 1232px;
    margin: 0 auto;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn {
        padding: 17px 37px;
        border: 1px solid $white;
        border-radius: 8px;
        margin: 0 8px;
        transition: background-color .4s, color .4s, border-color .4s;
        &--1 {
            font-size: 15px;
            background-color: $light;
            border: none;
            border-radius: 6px;
            padding: 19px 39px;
        }
    }
    &.hover &__btn--1:hover {
        background-color: $light_opacity;
    }
    &.hover &__btn--2:hover {
        color: $light;
        border-color: $light;
    }
}

.tarifs {
    padding: 216px 10px 110px 10px;
    @media (max-width: 1000px) {
        padding-top: 10%;
        padding-bottom: 50px;
    }
    &__title {
        text-align: center;
        max-width: 591px;
        margin: 0 auto 59px auto;
    }
}

.title {
    font-size: 48px;
    font-weight: 700;
    @media (max-width: 1000px) {
        font-size: 40px;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // margin: 0 -12px;
    &__item {
        width: calc(1/3*100% - (1 - 1/3)*24px);
        // flex: 1 1 33.37%;
        // padding: 0 12px;
        &--01 {
            .cards__header {
                background: url(../img/tarif_bg_1.png) 0 0/cover no-repeat;
            }
            .cards__footer {
                background-color: $price1;
            }
            .cards__list__item{
                &::before {
                    content: url(../img/check_1.svg);
                }
            }
        }
        &--02 {
            .cards__header {
                background: url(../img/tarif_bg_2.png) 0 0/cover no-repeat;
            }
            .cards__title {
                color: $priceName2;
            }
            .cards__footer {
                background-color: $price2;
            }
            .cards__list__item{
                &::before {
                    content: url(../img/check_2.svg);
                }
            }
        }
        &--03 {
            .cards__header {
                background: url(../img/tarif_bg_3.png) 0 0/cover no-repeat;
            }
            .cards__title {
                color: $priceName3;
            }
            .cards__footer {
                background-color: $price3;
            }
            .cards__list__item{
                &::before {
                    content: url(../img/check_3.svg);
                }
            }
        }
        &.hover:hover .cards__header {
            box-shadow: 0 0 20px rgba(#000, .5);
        }
        &.hover:hover .cards__footer {
            box-shadow: 0 0 20px rgba(#000, .5);
        }
    }
    &__header {
        padding-top: 119px;
        border-radius: 8px 8px 0 0;
        transition: box-shadow .4s;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 33px 37px 35px 30px;
        background-color: $dark;
        color: $white;
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 48px;
            background: url('../img/tarif_item5.svg')0 0 no-repeat;
            position: absolute;
            top: -45px;
            left: 0;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 400;
        position: relative;
        padding-top: 34px;
        &::before {
            content: url(../img/logo_mini.svg);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__price {
        font-size: 48px;
        span {
            font-size: 15px;
        }
    }
    &__footer {
        border-radius: 0 0 8px 8px;
        transition: box-shadow .4s;
    };
    &__list {
        list-style: none;
        padding: 29px 24px 27px 24px;
        &__item {
            font-size: 14px;
            font-weight: 700;
            position: relative;
            padding-left: 32px;
            margin-bottom: 22px;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                position: absolute;
                top: -4px;
                left: 3px;
            }
        }
    }
}

.reviews {
    padding: 97px 10px 85px 10px;
    @media (max-width: 1000px) {
        padding-top: 70px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        // margin: 0 -20px;
    }
    &__block {
        // flex: 1 1 50%;
        // padding: 0 20px;
        width: calc(1/2*100% - (1 - 1/2)*40px);
        & .reviews__item:last-child {
            padding-bottom: 38px;
        }
        &__title {
            padding: 28px 0 40px 0;
            margin-bottom: 43px;
        }
    }
    &__item {
        margin-bottom: 37px;
        padding: 42px 40px 28px 41px;
        border-radius: 8px;
        &--01 {
            background-color: $reviews1;
            .reviews__text {
                font-size: 17px;
            }
        }
        &--02 {
            background-color: $reviews2;
            .reviews__text {
                font-size: 18px;
            }
        }
        &--03{
            background-color: $reviews3;
            border-radius: 0 0 8px 8px;
        }
        &--04 {
            background-color: $reviews4;
        }
        &--05 {
            background-color: $reviews5;
            .reviews__text {
                font-size: 18px;
            }
        }
        &__header {
            display: flex;
            align-items: flex-start;
            margin-bottom: 36px;
        }
    }
    &__avatar {
        border-radius: 50%;
        flex: 0 0 48px;
        margin-right: 16px;
    }
    &__user {
        flex: 1 1 100%;
    }
    &__name {
        font-weight: 700;
        margin-bottom: 5px;
    }
    &__nick {
        font-size: 15px;
        color: $grey;
    }
    &__social {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        &.twitter {
            background: url('../img/twitter.svg') 0 0/cover no-repeat;
        }
        &.message {
            background: url('../img/message.svg') 0 0/cover no-repeat;
        }
    }
    &__text {
        font-size: 17px;
        color: $grey;
        line-height: 30px;
    }
    &__post {
        font-weight: 700;
        margin-top: 34px;
    }
}

.footer {
    background-color: $footerBg;
    padding: 55px 10px 57px 10px;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // margin: 0 -65px;
    }
    &__item {
        // flex: 1 1 25%;
        // padding: 0 65px;
        width: calc(1/4*100% - (1 - 1/4)*130px);
        color: $grey;
    }
    &__logo {
        margin-bottom: 24px;
    }
    &__text {
        margin-bottom: 24px;
        line-height: 30px;
    }
    &__social {
        &__link {
            display: inline-block;
            margin-right: 20px;
            transition: filter .4s;
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &.hover &__link:hover {
            filter: opacity(.5);
        }
    }
    &__list {
        list-style: none;
        font-size: 15px;
        padding-left: 4px;
        &__item {
            margin-bottom: 13px;
            &:first-child {
                padding-top: 4px;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 18px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.hover &__link:hover {
            text-decoration: underline;        }
    }
}
